.top {
        text-align: center;
        padding: 40rpx 0;
        background-color: white;

        span:nth-child(2) {
          font-size: 34rpx;
          color: #333;
          padding: 0 10rpx;
        }

        span:nth-child(2n + 1) {
          color: #999;
        }
      }

.productList{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10rpx;
    margin-bottom: 20px;
  .product{
      flex:0 0 50%;
      background-color: white;
      margin:0;
      border:2px solid $background;
      padding-bottom: 10px;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      img{
        width:100%;
        max-height:180px;}
    h3{
      padding:0 15rpx;
      font-size: 30rpx;
      overflow:hidden;
      text-overflow: ellipsis;}
    .price{
      color:$priceColor;
      font-weight:500;
      padding:0 15rpx;
      height:18px;
      margin:20rpx 0 20rpx 0;
      span:nth-child(1){
          font-size: 24rpx;
      }
    }
  }
}
