@font-face {
  font-family: 'iconfont';  /* project id 1692114 */
  src: url('//at.alicdn.com/t/font_1692114_q7kecdsobw.eot');
  src: url('//at.alicdn.com/t/font_1692114_q7kecdsobw.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1692114_q7kecdsobw.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1692114_q7kecdsobw.woff') format('woff'),
  url('//at.alicdn.com/t/font_1692114_q7kecdsobw.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1692114_q7kecdsobw.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
