.top{
    width: 100%;
    height: 200rpx;
    background-color: $mainColor;
    border-radius: 0 0 10% 10%;
    overflow: hidden;
    .userinfo{
      width:90%;
      overflow: hidden;
      padding-left:20px;
      .user_avatar{
        overflow: hidden;
        display: block;
        float:left;
        width: 170rpx;
        height:170rpx;
        border-radius: 8%;
        img{
          width:100%;
          height:100%;
        }
      }
      }
      .user_name{
        font-size: 17px;
        margin:20px 0 0 5px;
        padding:5rpx;
        float:left;
        .span{
          display:block;
          font-size: 26rpx;
          border-radius: 10px;
          background: white;
          margin-top:15px;
          padding: 5rpx 30rpx;
          }
        }
      .btn{
        width:150rpx;
        height:70rpx;
        line-height: 70rpx;
        float:right;
        font-size: 17px;
        overflow hidden;
        top: 38rpx;
      }    
}

.fans{
  width: 95%;
  height: 120rpx;
  margin:-20rpx auto 10rpx auto;
  background: white;
  border-radius: 20px;
  p{
    width: 100%;
    border-right: 1rpx solid #eaeaea;
    display: inline;
    text-align: center;
    line-height: 120rpx;
    padding: 0 10%;
    font-size: 34rpx;
  }
  .none{
    border: none;}
}

.advertise{
    text-align: center;
    margin-top:20rpx
  img{
    width:95%;
    height:220rpx;
    border-radius:20px;
    }
}

   