.back{
  width: 100%;
  height: 100%;
  background-color:#f8f8f8;

  .header{
    width: 100%;
    height: 200rpx;
    background-color: #FFD800;
    border-radius: 0 0 10% 10%;
    overflow: hidden;
    img{
      width: 150rpx;
      height: 150rpx;
      float: left;
      margin: 0 30rpx;
      border-radius: 5px};

    .headerContent{
      float: left;
      h4{
        font-weight: bold;
        font-size: 40rpx;
      }
      p{
        font-size: 32rpx;
        padding: 5rpx;
      }
      span{
        font-size: 26rpx;
        border-radius: 10px;
        background: white;
        padding: 5rpx 30rpx;
      }
    }
  
}

.fans{
  width: 95%;
  height: 120rpx;
  margin:-20rpx auto 10rpx auto;
  background: white;
  border-radius: 20px;
  p{
    width: 100%;
    border-right: 1rpx solid #eaeaea;
    display: inline;
    text-align: center;
    line-height: 120rpx;
    padding: 0 10%;
    font-size: 36rpx;
  }
  .none{
    border: none;}
}

.advertise{
    text-align: center;
    margin-top:20rpx
  img{
    width:95%;
    height:220rpx;
    border-radius:20px;
  }
}

.part1{
  width: 90%;
  margin: 20rpx auto;
  border-radius: 20px;
  background-color: white;
  padding: 20rpx 0 30rpx 30rpx;}
  h2{
      font-size: 34rpx;
      font-weight: bold;}

  .sell{  
    display:flex;
    margin-top: 20rpx;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;}

    .sellThings{
      display:inline-block;
      font-size: 14px;
      color:grey;
      align-self: center;
      text-align: center;
      flex:0 0 25%;
      img{
        width:70rpx;
        height:70rpx;
      }
    }
}
   