
.head_bg{
    width:100%;
    height:170rpx;
    background-color: $mainColor;
    border-radius:0 0 10% 10%;
    }

 .head{
    width:90%;
    height:270rpx;
    border-radius: 20px;
    background:white;
    margin:-150rpx auto 30rpx auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:nowrap; 

    .headContent{
      display:inline-block;  
      font-size: 16px;
      align-self:center;
      img{
        width:110rpx;
        height:110rpx;
        border-radius: 50%;
      }
      .icon-font{
        font-size: 14px;
      }
    }
 }

  .none{
    display:none}
  .advertise{
    position:relative;
    text-align: center;
    img{
      width:90%;
      height:130rpx;
      border-radius: 15px;
    }
    span{
      position:absolute;
      top: 10rpx;
      right: 30px;
      color: #f9f9f9;
      font-size: 15px;
    }
  }

  .newsList{
    width:90%;
    margin:10rpx auto;
    height:160rpx;

    .imgFl{
      float:left;
      margin:10rpx;
      width:100rpx;
      height:100rpx;
      border-radius: 5px;   
    }

    .newsContent{
      width:550rpx;
      height:160rpx;
      border-bottom:1rpx solid #eaeaea;
      overflow:hidden; 

      img{
        width:130rpx;
        height:130rpx;
        float:right;
        border-radius: 5px;
        margin:15rpx;}

      .text{
        width:350rpx;
        padding-left:20rpx;
        padding-top:10rpx;
        display:inline-block;
        span{
          font-size:25rpx;
          color:grey;}
        p{
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          color:grey;
          font-size:32rpx;}
        h2{
          font-size: 17px;
        }
      }
    }
  }

