.bg{
    background: white;
    height:100%;
    display: inline-block;
    width: 100%;

.head{
    box-sizing: border-box;
    margin:20rpx auto;
    width:90%;
    height:200rpx;
    background-color: #FDE5E5;
    border-radius: 15px;
    padding:30rpx 0rpx 0rpx 30rpx;
    h2{
        color:#FF3D17;
        margin-bottom:25rpx;
        font-weight: 600;
    }
    
    .resale{
        height:70rpx;
        line-height: 70rpx;
        .resale_detail{
            width:auto !important;
            display:inline-block;
            border-radius: 30px;
            background-color: white;
            font-size:15px;
            position: relative;
            img{
                width:50rpx;
                height:50rpx;
                display:inline-block;
                position:absolute;
                left:20rpx;
                top:10rpx;
            }
            span{
                display:inline-block;
                padding:0 10rpx;
            }
            p{
                display: inline-block;
                padding-left:80rpx;
            }
            input{
                display: inline-block;
                width:140rpx;
                text-align: center;
                padding:0 5rpx 0 5rpx;
                border-radius: 30px;
                vertical-align: middle;
                background-color: #fe4c11;
                color:white;
                margin-right:10rpx;
                font-size: 13px;
                box-sizing: border-box
            }
        }
    }
        
}

.discount{
    width:90vw;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .discount_item{
        margin:5rpx;
        border-radius:10px;
        line-height: 40rpx;
        padding:15rpx;
        p:nth-child(1) {
            font-size: 30rpx;
            font-weight: bold;
        }
        p:nth-child(2) {
            font-size: 22rpx;
        }
    }
    .item_1{
            flex:3.5;
            background-color: #FEF4F3;
            color:#FE7C78;
        }
    .item_2{
            flex:4;
            background-color: #EDF6FE;
            color:#59a3fd;
        }
    .item_3{
            flex:2;
            background-color: #FEF4F3;
            color:#FE6B69;
        }
    .item_4{
            flex:4;
            background-color: #EDF6FE;
            color:#59a3fd;
        }
    .item_5{
            flex:2;
            background-color: #F2FCE4;
            color:#4EC373;
        }
    .item_6{
            flex:3;
            background-color: #F5F1FE;
            color:#8254C4;
        }
}

.btn{
    width:90%;
    height:150rpx;
    margin:400rpx auto 0 auto;
    background-color: #FDE933;
    border-radius:15px;
    .submit{
        width:360rpx;
        margin:0 auto;
        padding:30rpx 0;
        text-align: left;
        h2{
            font-weight: 600;
        }
        p{
            font-size: 30rpx;
        }
        img{
            width:100rpx;
            height:110rpx;
            float:left;
        }
    }
}

}