.back{
    width:100%;
    height:100vh;
    background-color: #eeeeee;
    .head{
        width:90%;
        height:61rpx;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding:20rpx 32rpx 0 32rpx;
        margin:0 auto;
        font-size: 30rpx;
        p{
            display:inline-block;
            }
        .search{
            display:flex;
            align-items: center;
            background-color: #f4f4f4;
            i{
                width: 31rpx;
                height:31rpx;
                display:inline-block;
                padding:0 20rpx;
            }
            input{
                width:450rpx;
                display: inline-block;
            }
        }
    }
}

