.back{
    width:100%;
    height:100vh;
    background-color: #eeeeee;
//    .head{
//        width:90%;
//     height:61rpx;
//     display:flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: #fff;
//     padding:20rpx 32rpx 0 32rpx;
//     margin:0 auto;
//     font-size: 30rpx;
//     p{
//         display:inline-block;
//         }
//     .search{
//         display:flex;
//         align-items: center;
//         background-color: #f4f4f4;
//         img{
//             width: 31rpx;
//             height:31rpx;
//             display:inline-block;
//             padding:0 20rpx;
//         }
//         input{
//             width:450rpx;
//             display: inline-block;
//         }
//     }
 //}

.record{
    width:100%;
    font-size: 30rpx;
    padding:0 32rpx;
    background-color: white;
    margin:20rpx auto;
    .record_text{
        padding:20rpx 0 10rpx 0;
        p{
            display: inline-block;
            font-weight: 400;
        }
        .img_fr{
            width:31rpx;
            height:31rpx;
            float:right;}
        }
    .record_tip{
        display: inline-block;
        padding-bottom: 20rpx;
        .tip{
            padding:10rpx 17rpx;
            margin:10rpx;
            border-radius: 13px;
            background-color: #f1f1f1;
            color:gray;}
        }
}
}